@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

:root {
  /* High-Performance Palette Overrides */
  --b1: 0 0% 9%;      /* #171717 base-100 (Negro profundo) */
  --b2: 0 0% 12%;     /* un pelín más claro para contrastes menores */
  --b3: 0 0% 27%;     /* #444444 base-300 (Gris oscuro) */
  --bc: 0 0% 93%;     /* #ededed (Blanco roto) */
  --p: 345 100% 43%;  /* #DA0037 primary (Rojo competición) */
  --pc: 0 0% 100%;    /* texto blanco sobre primario */
}

body {
  background-color: #171717;
  color: #EDEDED;
}

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spin-button-none {
  -moz-appearance: textfield; /* Para Firefox */
}
