@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --color-primary-50: #fef2f2;
  --color-primary-100: #fee2e2;
  --color-primary-200: #fecaca;
  --color-primary-300: #fca5a5;
  --color-primary-400: #f87171;
  --color-primary-500: #ef4444;
  --color-primary-600: #dc2626;  /* Motorsport Red */
  --color-primary-700: #b91c1c;
  --color-primary-800: #991b1b;
  --color-primary-900: #7f1d1d;
  --color-primary: #dc2626;
  --color-danger: #dc2626; /* Forcing Danger to be Motorsport red as well if needed */
}



body {
  background-color: #020617; /* Tailwind bg-slate-950 */
  color: #f1f5f9;           /* Tailwind text-slate-100 */
}

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spin-button-none {
  -moz-appearance: textfield; /* Para Firefox */
}

/* Hack infalible para el Autofill en Dark Mode */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
    transition-delay: background-color 5000s, color 5000s !important;
    -webkit-text-fill-color: #f4f4f5 !important; /* Texto claro */
    font-family: inherit !important;
}
