@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #020617; /* Tailwind bg-slate-950 */
  color: #f1f5f9;           /* Tailwind text-slate-100 */
}

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spin-button-none {
  -moz-appearance: textfield; /* Para Firefox */
}

/* Hack infalible para el Autofill en Dark Mode */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
    transition-delay: background-color 5000s, color 5000s !important;
    -webkit-text-fill-color: #f4f4f5 !important; /* Texto claro */
    font-family: inherit !important;
}
